.infoCard {
    border-width: 7px;
    /*width: 60vw;*/
    border-style: solid;
    border-radius: 15px;
    margin: 5vmin;
    padding: 3vmin;
    }
.infoCard__header{
	font-size: 4vmin;
	margin: 2vmin;
}
.infoCard__images{
    width:100%;
}
.infoCard__image{
    height: 30vmin;
    display:inline;
    border-style: solid;
    border-radius: 15px;
    border-color:#999;
    border-width: 2px;
}
.infoCard__animalImage{
    border-width: 4px;
    border-color:$brand-feature-1;
}
.infoCard__products{
    overflow-x: scroll;
    white-space:nowrap;
}
.infoCard__productImage{
    display:inline;
    height: 30vmin;
}