$brand-background: #6e6e6e;
$brand-light-1: hsl(0,0%,75%);
// $brand-feature-1: hsl(188,89%,44%);
$brand-feature-1: rgb(255,252,0);

.nav {
  border-top: 4px solid $brand-feature-1;
  border-bottom: 4px solid $brand-feature-1;
  background-color: $brand-background;
  color: #ffffff;
  padding: 1.5rem 0;
  position: relative;
  top: -25px;
  display: flex;
  align-items: center;
  justify-content:center;
}

.header {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 900;
  padding-left: 1rem;
}

.header-highlight {
  color: $brand-feature-1;
  // padding-left: 1rem;
}

.links-nav__item {

}

#header-logo {
  display:inline-block;
  height: 20vmin;
}
.nav h2 {
  display:inline-block;
  font-size: 4vmin;
  letter-spacing: 0.3vmin;
}
.nav * {
  margin: 2vmin;
}